    <main>
        <div class="picture_container">
            <img src="/resources/start-page-gallery/swimming-pool2.jpg">
            <p>Bay Hotel</p>
        </div>

        <div class="wrapper">

            <section class="paymentForm">  
                <!-- Ftiaxtike stin arxi tou eksaminou opote i css  den exei grafti me ton kalitero tropo. -->
            
                    <form action='/finaliseReservation' method="post">
                        
                        <fieldset style="border-width: 2px;">
                            <legend >Payment Information</legend>
                        <label class="title title2">  Card Details</label>
            
                        <div class="container">
                        
                            <div class="field-holder required onomaKatoxou">
                                <input type="text" id="cardHolderName" value=""  name="cardHolderName" required oninvalid="setCustomValidity('Please fill in cardholder name.')"
                                oninput="this.setCustomValidity('')">
                                <label for="cardHolderName">  Cardholder Name </label>
                            </div>
            
                            <div class="field-holder required">
                                <input type="text" id="cardNumber" value="" name="creditCard" pattern="[0-9]{16}" maxlength="16" minlength="16" onchange="this.setAttribute('value', this.value);" required oninvalid="setCustomValidity('Please fill in card number (16 digits).')"
                                oninput="this.setCustomValidity('')">
                                <label for="cardNumber">  Card number</label>
                            </div>
            
                            <div class="field-holder required imerominiaLiksis">
                                <input type="text" id="date" value="" name="date" maxlength="5" pattern="\d{2}/\d{2}" onchange="this.setAttribute('value', this.value);" required oninvalid="setCustomValidity('Please fill in card expiration date.')"
                                oninput="this.setCustomValidity('')">
                                <label for="date">Expiration Date</label>
                            </div>
            
                            <div class="field-holder required">
                                <input type="password" id="cvv" value="" name="cvv" pattern="\d{3}" maxlength="3" minlength="3" onchange="this.setAttribute('value', this.value);" required oninvalid="setCustomValidity('Please fill in cvv number of card.')"
                                oninput="this.setCustomValidity('')">
                                <label for="cvv">Cvv</label>
                            </div>
                        </div>
            
                        <label class="title title2 title3">  Breakfast</label>
            
                        <div class="field-holder" >
                            <label  for="checkbox1" class="elem">Breakfast cost per person: 5€</label>
                            <input type="checkbox" id="checkbox1" name="checkbox1">
                        </div>

                        {{#if eksoflisiMisouPosou}}

                            <label class="title title2 title3 eksoflisi"> Payment</label>

                            <div class="field-holder" >
                                <label  for="checkbox2" class="elem elem2">I wish to pay 50% of the amount now and pay the balance up to 10 days before the reservation</label>
                                <input type="checkbox" id="checkbox2" name="checkbox2">
                            </div>
                        {{/if}}
                                        
            
                        <label class="title title2 title4 politikiKratiseon {{#if eksoflisiMisouPosou}} included    {{/if}}"> Reservation Policy</label>
            
                        <div class="field-holder terms">
                            <div>
                                <p >Check-in: After 13:00</p>
                                <p >Check-out: Before 12:00</p>
                                <p >It is possible to cancel up to 10 days before arrival with a full refund</p>
                            
                            </div>
            
                        </div>
            
                        <div>
                            <hr id="hr1">
                        </div>
            
                        <div class="field-holder down">
                            <span class="left">Hotel</span>
                            <span class="right" id="kostosKsenodoxiou">{{kostosKsenodoxiou}}</span>
                        </div>
            
                        <div class="field-holder down">
                            <span class="left smaller">Breakfast</span>
                            <span class="right smaller" id="proinoTimi">-</span>
                        </div>
            
                        <div id="d1">
                            <hr id="hr2">
                         </div>
                         <br>
                         <div class="field-holder down">
                            <span class="left sinolo">Total</span>
                            <span class="right" id="sinolikoPoso"></span>
                        </div>
            
            
                        <div id="d2">
                            <hr id="hr3">
                         </div>
                         <br>
                         <div class="field-holder down pliromi">
                            <span class="left sinolo">Pay</span>
                            <span class="right" id="posoPliromis"></span>
                        </div>
            
                        <div class="field-holder down" id="checkout">
                            <input type="submit" class="button {{#if response}} notClickable {{/if}}" value="Book">
            
            
                        </div>

                        <p class="response">
                            {{#if response}}
                                {{response}}
                            {{else}}
                                &nbsp;
                            {{/if}}
                            
                        </p>

                        <!-- hidden fields -->
                        {{#with reservation}}

                            {{!-- tha mporouse na eixe xrisimopoiithi session ala den einai aparaitito  afou ta dedomena einai gnosta ston xristi --}}
                            <input type="text" id="atoma"  value="{{atoma}}"  name="atoma" class="invisible">
                            <input type="text" id="checkInDate"  value="{{checkInDate}}"  name="checkInDate" class="invisible">
                            <input type="text" id="checkInMonth"  value="{{checkInMonth}}"  name="checkInMonth" class="invisible">
                            <input type="text" id="checkInYear"  value="{{checkInYear}}"  name="checkInYear" class="invisible">
                            <input type="text" id="checkOutDate"  value="{{checkOutDate}}"  name="checkOutDate" class="invisible">
                            <input type="text" id="checkOutMonth"  value="{{checkOutMonth}}"  name="checkOutMonth" class="invisible">
                            <input type="text" id="checkOutYear"  value="{{checkOutYear}}"  name="checkOutYear" class="invisible">
                            <input type="text" id="kostos"  value="{{kostos}}"  name="kostos" class="invisible">
                            <input type="text" id="singleBeds"  value="{{singleBeds}}"  name="singleBeds" class="invisible">
                            <input type="text" id="doubleBeds"  value="{{doubleBeds}}"  name="doubleBeds" class="invisible">
                            <input type="text" id="roomName"  value="{{roomName}}"  name="roomName" class="invisible">
                            <input type="text" id="amea"  value="{{amea}}"  name="amea" class="invisible">
                            <input type="text" id="theaStiThalasa"  value="{{theaStiThalasa}}"  name="theaStiThalasa" class="invisible">

                        {{/with}}

            
            
                    </fieldset>
                        
                    </form>
            
               </section>
    


        </div>
        
  
    </main>
    