    
    
    <main>
        

        {{>userNav}}
        
        <div class="kratisisContainer">

            <p id="myBooks"> My Reservations</p>
            {{#each kratisis}}


                <div class="kratisis">
                    <div class="room {{this.room.className}}">
                        <div class="image">
                        <img src="{{this.room.img}}">
                            
                        </div>
            
                        <div class="info">

                                <p>{{this.room.titlos}}</p>
                                {{#if this.theaStiThalasa}}
                                <p>With sea view</p>
                                {{else}}
                                <p>&nbsp;</p>
                                {{/if}}
                                <ul class="list">
                                    {{#each this.room.amenity}}
                                    <li>{{this}}</li>
                                    {{/each}}
                                    
                                </ul>


                            <div class="atoma">
                                <span>{{this.room.tetragonika}} sq.m.</span><br>
                    
                                {{#each this.room.krebati}}


                                    <div class="atoma_bed">
                                    <span>{{this.onoma}}</span>
                                    <div class="image_container">
                                        <img src="{{this.ikonaSrc}}">
                                    </div>
                                    </div>

                                {{/each}}

            
            
                            </div>
                        </div>
            
                        <div class="reservationInfo">
                            <h3>Reservation info</h3>
                            <div class="infoContainer">
        
                                <p class="imer">Reservation Dates:</p>
                                <p> {{this.checkIn}} - {{this.checkOut}}</p>
                                <p >Persons: {{this.atoma}}</p>
                                {{#if this.proino}}
                                <p >With breakfast</p>
                                {{/if}}
                                <p > Total: {{this.kostos}}€</p>
                                <p >Paid amount: {{this.pliromena}}€</p>
                                <p>Remaining: {{this.apomenoun}}€</p>
                                <p>State: {{this.katastasi}}</p>

        
                            </div>
        
        
                        </div>
        
                        <div class="kritiki">
                            <h3>Review</h3>
                            <div class="kritikiContainer">
        
                                <form action="/Kritiki" method="post">
                                    
                                    <textarea id="kritiki" {{#if this.oxiKritiki}}class="disabled"{{/if}} name="kritiki" rows="4" cols="50" required oninvalid="setCustomValidity('Please fill in your review.')"
                                    oninput="this.setCustomValidity('')" title="Please fill in your review."></textarea><br>
                                    <input type="submit" {{#if this.oxiKritiki}}class="disabled"{{/if}} value="Submit">
                                    <input type="text"  value="{{this.roomNumber}}"  name="roomNumber" class="invisible">
                                    <input type="text"  value="{{this.checkIn}}"  name="checkIn" class="invisible">
                                    <input type="text"  value="{{this.checkOut}}"  name="checkOut" class="invisible">

                                </form>
        
                            </div>
        
        
                        </div>
            
            
            
            
                        <div class="book">
                            <p class="desc">Free cancellation with full refund is possible up to 10 days before arrival. If the full amount has not been paid by then the reservation is cancelled.</p>
                            <div class="buttonContainer">
                                <form action="/akirosi" method="post">

                                    <button class="akirosi {{#if this.notAkirosimo}} disabled {{/if}}"> Cancel</button>
                                    <input type="text"  value="{{this.roomNumber}}"  name="roomNumber" class="invisible">
                                    <input type="text"  value="{{this.checkIn}}"  name="checkIn" class="invisible">
                                    <input type="text"  value="{{this.checkOut}}"  name="checkOut" class="invisible">

                                </form>

                                    
                                <form action="/makeNextBookPayment" method="post">
                                    <button class="pliromi {{#if this.oxipliromi}} disabled {{/if}}" onclick="window.location.href = '../paymentForm/nextPayments.html'"> Pay</button>
                                    <input type="text"  value="{{this.roomNumber}}"  name="roomNumber" class="invisible">
                                    <input type="text"  value="{{this.checkIn}}"  name="checkIn" class="invisible">
                                    <input type="text"  value="{{this.checkOut}}"  name="checkOut" class="invisible">

                                </form>
            
                            </div>
                        </div>
                    </div>
            
        
        
                </div>

            {{/each}}




        </div>


        
        
        

      </main>
