<div class="offset"></div>


<div class="pageWrapper">

    <main>
    
    {{#if sinafis}}
         <h2 class="titlosHeader">Οι συγκεκριμένες ημερομηνίες ήταν κατειλημμένες</h2>
         <h2 class="titlosHeader num2">Προτεινόμενες Ημερομηνίες:</h2>

    {{/if}}

    {{#each kratisis}}
        <div class="room {{this.room.className}}">
            <div class="image">
            <img src="{{this.room.img}}">
                {{#if diathesima}}
                <span class="text_diathesima"> {{this.diathesima}} Διαθέσιμα</span>
                {{/if}}
                
            </div>

            <div class="info">
                <p>{{this.room.titlos}}</p>
                {{#if this.reservation.theaStiThalasa}}
                <p>Με θέα στη θάλασσα</p>
                {{else}}
                <p>&nbsp;</p>
                {{/if}}
                <ul class="list">
                    {{#each this.room.amenity}}
                    <li>{{this}}</li>
                    {{/each}}
                    
                </ul>

                <div class="atoma">
                    <span>{{this.room.tetragonika}} τ.μ. &nbsp;&nbsp;&nbsp; {{this.reservation.atoma}} Άτομα</span><br>

                    {{#each this.room.krebati}}


                        <div class="atoma_bed">
                        <span>{{this.onoma}}</span>
                        <div class="image_container">
                            <img src="{{this.ikonaSrc}}">
                        </div>
                        </div>

                    {{/each}}


                </div>
            </div>

            <div class="times">

                {{#each this.times}}

                    <div class="inner {{this.klasi}}">
                        <p>{{this.imerominia}}</p>
                        <p>{{this.timi}}€</p> 
                    </div>

                {{/each}}

                <div class="empty de">
                    
                </div>

                
                <button onclick="shiftRight(event)" class="btnLeft">&lt;</button>
                <button onclick="shiftLeft(event)" class="btnRight">&gt;</button>
            </div>


            <div class="book">
                <p class="imer">Ημερομηνίες</p>
                <p> {{this.checkIn}} - {{this.checkOut}}</p>
                <p class="kostos"> Kόστος: {{this.kostos}}€</p>
                {{#with reservation}}
                <a href="/makeFirstBookPayment/{{this.roomName}}/{{this.amea}}/{{this.atoma}}/{{this.diamorfosi}}/{{this.checkInDate}}/{{this.checkInMonth}}/{{this.checkInYear}}/{{this.checkOutDate}}/{{this.checkOutMonth}}/{{this.checkOutYear}}{{#if this.theaStiThalasa}}/{{this.theaStiThalasa}}{{/if}}/{{this.kostos}}"> Κράτηση</a>
                {{/with}}

            </div>
        </div>
    {{/each}}
    </main>

</div>
